{% extends '::base.html.twig' %}
{% block li1 %}
<li class="nav-item">
{% endblock %}
{% block li2 %}
<li class="nav-item">
{% endblock %}
{% block li3 %}
<li class="nav-item active">
  {% endblock %}
{% block section %}

<div>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}
